#titre {
	text-align : center;
	text-height : 40px;
	font-size: 32px;
	color: #1638E0;
}

#img_titre {
	margin : 0 auto;
	text-align: center;
}

#nom_calendrier, #nom_medecin, #dispos, #nom_patient {
    font-size: 18px;
    padding-top: 15px;
    padding-right: 12px;
}

#confirmation {
  display: flex;
}

#nom_calendrier {
    padding-left: 50px;
}

#cal {
    padding-left: 10px;
}

#choix_med_date {
    display: ruby;

}

#validation_finale {
    margin-left: 550px;
    margin-top: 20px;
    width:85px;
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#f5f5f5;
    color:#555;
    border-radius:2px;
    border:1px solid #ccc;
    box-shadow:1px 1px 3px #999;
}

#creneaux {
    padding-top: 25px;

}

#matin, #apres_midi {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#patient {
    padding-top: 5px;
    padding-bottom: 20px;
}

#choix_heure {
    display: flex;
}

#laprem {
    margin-left: 150px;
}

#lematin {
    margin-left: 25px;
}

#msgconfirmation {
    color:green;
    font-size: 15px;
}

.boutons input:hover, #validation_finale:hover {
    background-color:#419cfc;
    color: white;
}

.boutons input {
    height: 50px;
    width: 80px;
}

.disab {
  color:#f2f2f2;
}

.boutonsvalid {
  margin-left: 1.3em;
   padding:6px 0 6px 0;
  font:bold 13px Arial;
  background:#f5f5f5;
  color:#555;
  border-radius:2px;
  border:1px solid #ccc;
  box-shadow:1px 1px 3px #999;
}


form {
    padding-top: 15px;
}

aside,
menu,
section {
    display: block;
}

ul {
	margin : 0;
	padding-left: 30px;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    color:grey;
    font-style: bold;
}

a:hover,
a:active {
    outline: none;
}

a img {
    border: 0;
}

img {
    border-style: none;
}




#wrapper section {
    padding: 15px;
    height: 100%;
    flex: 1;
}

#wrapper section .section-title {
    font-size: 1.2em;
    color: #444;
}

#wrapper section #part {
    background-color: #fff;
    margin: 5px 0;
    padding: 15px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}



 
 /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  height: 25px;
  width: 25px;
  background-color: #eee;

}



/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} 