#formulaire
{
    padding: 5%;
    background-color: #f7f7f7;
}
#formulaire form
{
    margin: 0 auto;
    width: 400px;
}

#formulaire form select
{
    height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;


}

.center {
    text-align: center;
}

#formulaire form input
{
    height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

#table 
{
    margin-left: auto;
    margin-right: auto;
}

#formulaire form input[type=submit]
{
    text-align: center;
    background-color: #1638e0;
    border: none;
    font-size: 0.8em;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
}