#formulaire
{
    padding: 5%;
    background-color: #f7f7f7;
}
#formulaire form
{
    margin: 0 auto;
    width: 400px;
}

#formulaire form select
{
    height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;


}

.center {
    text-align: center;
}

#formulaire form input
{
    height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

#table 
{
    margin-left: auto;
    margin-right: auto;
}

#formulaire form #terminer {
    text-align: center;
    background-color: #1638e0;
    border: none;
    font-size: 0.8em;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    color: white;
    margin-bottom: 10px;
}

#annuler{

    background-color: red;
    border: none;
    font-size: 0.8em;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    color: white;
    margin-bottom: 10px;
}

#formulaire form #modifier{
   text-decoration: underline;
   border: none;
    display: block;
    margin: 0 auto;
}

#formulaire form #supprimer{
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#dejapresent{
    color: red;
    font-style: italic;
}

