table {
	border-collapse: collapse;
	width: 100%;

}

#part td {
	border-bottom: 1px solid silver;
	padding-top: 10px;
	padding-bottom: 10px;
}

#part th {
	font-weight: normal;
	text-align: left;
	border-bottom: 3px solid silver;
	padding-top: 10px;
	padding-bottom: 10px;
}


#ajout{
    background-color: #1638e0;
    border: none;
    color: white;
    box-shadow: 2px 3px 15px rgba(22, 56, 254, 0.3);
    border-radius: 10px;
    cursor: pointer;
    min-height: 23px;
}

#voirtout{
    background-color: #353877;
    border: none;
    color: white;
    box-shadow: 2px 3px 15px rgba(22, 56, 254, 0.3);
    border-radius: 10px;
    cursor: pointer;

}